<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>this is submitJSON.html</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    html { font:normal 600 20px verdana; }
    .copyCode { background-color: aquamarine; font-weight: 200; font-size: 12pt; 
        font-family: 'Courier New', monospace; margin: 0px 10px 0px 10px;}
    .labelA { font: normal 800 14pt verdana; margin: 0px; }
    .labelB { margin: 0px; font-size: 12pt; font-family: 'Courier New', monospace;}
    .clickbutton { border-radius: .3em; border: 3px solid #444400; padding: 5px;}
</style>
</head>

<body>
    <h4>
        <button onClick="alert('green')" >afdasdf</button><br />
        This is javascriptWebApiClient.html, 
        located at containerSetups/backend/spboot/src/main/resources/templates
        <br/>For examples of the newer and better fetch() call method, see 
        <br/>It makes web service calls from javascript using jquery and ajax.
        <br/>It is presented by the spring handler java code "@GetMapping("/") "
        <br/>It accesses api from FruitController.java, in
        containerSetups/backend/spboot/src/main/java/com/example/springboot/FruitController.java 
        <br/>NOTE: for simple basic coding example for accessing a REST api, dont use this needlessly complex file;
         use <a href="/javascriptWebApiSimpleClient.html">javascriptWebApiSimpleClient.html</a>which uses newer fetch() instead of ajax() instead.
        <br/><a href="/javascriptWebSocketClientA.html">javascriptWebSocketClientA.html</a>
        <br/><a href="/webAudioApiTest/webAudioTestA.html">/webAudioApiTest/webAudioTestA.html</a>
        
        </h4>

        <div id="divDisplayTable" style='width:85%; margin:8px; font-size:larger; 
        background:rgb(213, 247, 252);color:rgb(146, 40, 55);
        border-radius: .3em; border: 3px solid #444400; 
        display:grid;grid-template-columns: 1fr 5fr; '>
            <!-- style="grid-column:1/span 1;  means start col 1 span 1 col
			style="grid-column:1/3;  means start col 1 to to col 3 but not occupy 3 -->
            <div id="div2" class='labelA' style='grid-column:1/2; padding:10pt;
                text-align: left; vertical-align:middle;'>
                    <div class='labelB clickbutton' 
                        onClick="runAjax('eatFruitArray');" >Process json array</div>
                    <div class='labelB clickbutton' 
                        onClick="runAjax('eatFruitArrayOutputArray');" >json array in/modified array out</div>
                    <div class='labelB clickbutton' 
                        onClick="runAjax('eatFruitArrayOutputArrayInXML');" >json array in/modified XML array out</div>
                    <div class='labelB clickbutton' 
                        onClick="runAjax('eatFruitArrayOutputOneIndexed/1');" >json array in/modified single obj out indexed by REST arg</div>
                    <div class='labelB clickbutton' 
                        onClick="runAjax('eatFruitArrayOutputOneIndexed/0', 'xml');" >xml in/modified single obj out indexed  by REST arg</div>
                        <div class='labelB clickbutton' 
                        onClick="runAjax('testDBandDockerSecret');" >test db conn, docker secret. 30 sec timout when not using docker conn.</div>
            </div>
            <div id="divAjaxResult" class='labelB' style='grid-column:2/2; overflow-x: scroll;
             background-color: greenyellow; padding:10pt;'></div>
        </div>
        <br/>
        Other links: <br/>
        <a href='testHtmlFormA'>testHtmlFormA</a><br/>
        
<script>
// this javascript is not a good example for beginners, but the resulting page does give
// a handy way to directly run web services using the curl command.
var url;

$(window).on("load", function() { 
   $('#divHost').text('host for svc: ' + location.host)
});

/*
fetch(remoteURL) // ,
    .then(res => res.text())
    //.then(res => console.log('success: ' + res))
	.then(res => foo(res))
	.then(res => console.log(res + " inline thing"))
    .catch(err => console.error('failure: ' + err));
fetch('https://example.com/profile', {
  method: 'POST', // or 'PUT'
  headers: {
    'Content-Type': 'application/json',
  },
  body: JSON.stringify(data),
})
*/
// Can also use the newer fetch api as in javascriptWebApiClientSimple
// but it's not as well suited for whats in here.
function runAjax(urlPathAndQuery, requestDataType) {
    hostAndPort = location.host; // if running local, its "localhost:8086", if other server it's whatever it is.
    // url = "http://" + location.host + "/" + urlPathAndQuery; 
    var url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port;
    url +=  "/" + urlPathAndQuery; 
    console.log("accessing: " + url)
    // jsonObjectB = { "all" : [{"flavor": "apple", "color":"redAndGreen"}, {"flavor": "banana", "color":"yellow"}]};
    // JSON.stringify(jsonObjectB.all)
    jsonObjectA = [{"flavor": "apple", "color":"redAndGreen"}, {"flavor": "banana", "color":"yellow"}];
    reqData = JSON.stringify(jsonObjectA)
    console.log(jsonObjectA[1].flavor)
    if (requestDataType == 'xml') {
        httpHeaderReqContType = "application/xml"
        reqData = '<basket><fruit><color>red-xml-data</color><flavor>cherries</flavor></fruit><fruit><color>green</color><flavor>apple</flavor></fruit></basket>';
    } else {
        httpHeaderReqContType = "application/json"
    }
    outstr = "url: <i style='background-color: #6cff9d;'>" + url + 
        "</i><br/>POST data:<xmp style='margin:2px;background-color: #6cff9d;'>" 
            + reqData + "</xmp>";

    /* demo of ajax call, but not for beginners; see other page.
       As a example to get xml data use the line: jsonObjReturned.all[1].children[0].textContent
       To figure out how to write this code, don't waste time learning how; instead use the
       javascript debugger in chrome (or other browser), put breakpoint somewhere in the success function
       and examine the returned respData field in debugger, trying out commands and array references to see
       how to pull the data out. It has intellisense with helps a lot */
    $('#divAjaxResult').html("waiting for response from server...");
    $.ajax(url, {
      data: reqData,
      method: "POST",
      contentType: httpHeaderReqContType,
      success:function(respData, status, responseHeaders) {
            // var jsonObjIn = JSON.parse(data); not needed because in response "Content-Type: application/json"
            outstr += "<zz style='font-size:small;background-color: #ffe8e2; color:black;'> RESPONSE HEADERS: " + responseHeaders.getAllResponseHeaders() + "</zz>";
            if (responseHeaders.getResponseHeader('content-type') == 'application/json') {
                if (Array.isArray(respData)) {
                    console.log("from data JSON object: " + respData[0].flavor);
                    outstr += "<br/>JSON array returned from service respData: <br/>" + JSON.stringify(respData)
                } else {  // if a restArg is supplied, svc returns a single object
                    outstr += "<br/>single object returned from service: <br/>" + JSON.stringify(respData)
                }
            }
            else if (responseHeaders.getResponseHeader('content-type') == 'application/xml') {
                outstr += "<br/>XML returned from service: <br/>" + 
                respData.all[1].children[0].textContent + "  " + respData.all[1].children[1].textContent + 
                  // use <xmp> tag or else the < and > in the xml wont be visible
                  "<br/><xmp>" +  new XMLSerializer().serializeToString(respData) + "</xmp>";
            }
            else {
                outstr += "<br/>plain text returned from service: <br/>" + respData
            }
            $('#divAjaxResult').html(outstr);
      },
      error: function(data) {
        $('#divAjaxResult').html(outstr + " error: " + data.responseText);
      }
    });
} 

//$('#div2').click(function(e) { 
//    tryJsonInput();// return true; // makes the dropdown collapse
//});
</script>

</body>
</html>

<!--  ****** trash can 
    <div class="labelA">Click to copy, then paste into login shell</div>
        <div class="copyCode" msg="json input json output returns json"
          raw="curl -d '[{+|flavor+|: +|apple+|, +|color+|:+|red+|}, {+|flavor+|: +|banana+|, +|color+|:+|yellow+|}]' -H 'Content-Type: application/json' localhost:8086/eatFruitMultiObjectXreturnJSONObject"></div>
        </div>
        <div class="copyCode" msg="xml input json output returns json"
          raw="curl -d '<basket><fruit><color>red</color><flavor>cherries</flavor></fruit><fruit><color>green</color><flavor>apple</flavor></fruit></basket>' -H 'Content-Type: application/xml' http://localhost:8086/eatFruitMultiObjectXreturnJSONObject" 
          >this gets replaced with raw with subsitutions &lt; &gt; </div>
        <br/>Clipboard:<br/>
        <input id="showSelected" type="text" size="80" value="" style="color: red; font-size: 18px;">
    
< s cript>
$('.copyCode').on("click", function(evt) { 
    // browser clipboard only works in input type=text
    $('#showSelected').val($(this).text());
    $('#showSelected').select();
    // $('.copyCode').setSelectionRange(0, 99999); /* For mobile devices */
    document.execCommand("copy");
    window.getSelection().removeAllRanges();
});

function setupCopyCode() { 
    // iterates each div of class copyCode and copies contents of "raw"
    // attribute to the content, but modifies with html escapes and current host info
    $('.copyCode').each(function() {
        try { 
            newVal = $(this).attr('raw')
            msg = $(this).attr('msg')
            // not needed to escape because its an attribute:  newVal = newVal.replace(/'\<'/g,"&lt;").replace(/'\>'/g,"&gt;")
            // replace "+|" placeholder with a ", then change localhost to javascript hostname
            //   for when we access not from local
            newVal = newVal.replace(/\+\|/g,"\"")
                .replace(/localhost/, location.hostname)
            $(this).text(newVal);
            $("<div class='labelA'>" + msg + "</div>" ).insertBefore(this);
        } catch (bb) {
            console.log("caught replace")
        }
    })
}




</s cript> */
-->