

<!-- got font from https://fonts.google.com/
Go there and after selecting font it shows on a page, then
click on the bunch of squares in upper right 
labeled "view your selected families" when moused-over,
and then the stuff to copy here appears. -->
<style>@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Noto+Sans&display=swap');
</style>
<div style="font-family: 'Fuzzy Bubbles', cursive; font-size: 22pt;">
<br/>
this is the page returned by the handler with the annotation:<br/>
<code>@PostMapping("/processPostAndReturnHTML_template")</code><br/>
You are seeing contents of processPostResponsePage.html in resources/templates folder
<br/>
</div>